// Palette de couleurs
$color-primary: #0074c7;
$color-dark: #00497c;
$color-text: #384050;
$color-bg: #f1f8fc;
$color-accent: #cd2c2e;
$color-success: #82b864;

// Typographie
$font-family: "Graphik", "Inter", sans-serif;

// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 1280px;
