@import "variables";
@import "bootstrap/scss/bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  color: $color-text;
  background-color: #fff;
}

a {
  color: $color-primary;
  text-decoration: none;

  &:hover {
    color: $color-dark;
  }
}
